.footer{
    position: relative;
    width: 100%;
    /* background-image: url(../../images/footer.png); */
    background-color: #AFBDCB;
    /* background: #AFBDCB; */
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
}
.footer .footer-img{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 15%;
    object-fit: cover;
}
.link{
    text-decoration: none;
    border: none;
    color: inherit;
}
.footer__contents{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    padding: 40px 0;
    z-index: 2;
}
.footer__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    gap: 10px;
}
.footer__content .link:hover{
    font-weight: bold;
}
.footer__content img{
    width: 80px;
    padding-bottom: 20px;
}
.footer__content h3{
    padding-bottom: 20px;
}
.copyright{
    text-align: center;
    padding-bottom: 20px;
}
@media (max-width:489px) {
    .footer__content{
        justify-content: center;
        align-items:center ;
    }
}