.profile-nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(223, 239, 255, 1);
    padding: 20px;
    border: 1px solid rgba(184, 183, 184, 1);
    border-radius: 10px;
    width: 300px;
}
.profile-navList{
    display: flex;
    text-decoration: none;
    color: black;
    gap: 10px;
    font-size: 19px;
    border: 1px solid rgba(184, 183, 184, 1);
    border-radius: 30px;
    padding: 10px;
    align-items: center;
    font-size: 17px;
}
.profile-navList.active{
    background-color: var(--secondary);
    color:white;
}
.logout-btn{
    background-color: transparent;
    cursor: pointer;
}

@media (max-width:554px) {
    .profile-navList p{
        display: none;
    }
    .profile-nav{
        width: max-content;
    }
}

@media (max-width:655px) {
    .profile-nav{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

    }
    .profile-nav .icon{
        font-size: 40px;
        font-weight: normal;
    }
    .profile-nav .profile-navList p{
        display: none;
    }
}